# Build artifacts in root
/bin/
/lib/
/build/
*.o
*.d
*.a
*.so
*.dylib
*.dSYM

# Test outputs & temporary files
/test/bin/
*.out
*.tmp
*.log
*.geif
*.ceif
*.png
!docs/pics/**
test/plot_*.csv
test/*.json
test/dist_bubble.csv

# Editor & OS files
.DS_Store
.vscode/
.idea/
*~
*.swp
